[run]
branch = True
source = osbrain

[report]
show_missing = True
exclude_lines =
    pragma: no cover
    def __repr__
    def __hash__
    if .debug:
    raise NotImplementedError
    if __name__ == .__main__.:
